@{
    ViewBag.Title = "Aplikacja";
}

<div ng-app="TSPApp" class="fill">
    <div class="row fill" ng-controller="TargetsController">
        <div class="col-md-4">
            <div style="margin-top: 10px; margin-bottom: 3px;">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#targets">Przesyłki</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#route">Trasa</a></li>
                </ul>
            </div>
            <div class="tab-content" style="min-height: 400px;">
                <div class="tab-pane active" id="targets" ng-init="getTargets()">
                    <ul class="list-group pre-scrollable">
                        <li ng-repeat="target in targets" class="list-group-item">
                            <strong class="list-group-item-heading">{{target.name}}</strong>
                            <a href="" class="pull-right" ng-click="deleteTarget(target)"><i class="glyphicon glyphicon-remove"></i></a>
                            <p class="list-group-item-text">
                                <small>{{target.location.asString}}</small>
                            </p>
                        </li>
                    </ul>
                    <form class="form-inline" ng-submit="addTarget()">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="location-input" type="text" ng-model="location" class="form-control" placeholder="Lokalizacja">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Dodaj</button>
                    </form>
                </div>
                <div class="tab-pane" id="route">
                    <div>
                        <ol class="list-group pre-scrollable">
                            <li ng-repeat="target in route.route" class="list-group-item">
                                {{$index+1}}. <strong class="list-group-item-heading">{{target.name}}</strong>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="progress progress-striped" ng-class="{'active': routingProgress < 100}">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{width : ( routingProgress + '%' ) }"
                         ng-class="{'progress-bar-success': routingProgress==100}"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <button class="btn btn-primary" type="button" ng-click="findRoute()">Znajdź trasę</button>
                <p></p>
                <p ng-show="routingProgress == 100"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Znaleziona trasa: {{route.length}}</p>
            </div>
        </div>
        <div class="col-md-8 fill">
            <ng-map center="[50.061820, 19.936709]" class="fill" on-click="addTargetOnMap()">
                @if (ViewBag.IsStartingPointVisible)
                {
                    <marker position="@ViewBag.StartingPoint.Location.ToDecimalDegreesString()"
                            title="@ViewBag.StartingPoint.Name" icon="~/Content/start.png">
                    </marker>
                }
                <marker ng-repeat="target in targets"
                        position="{{target.location.latitude}},{{target.location.longitude}}"
                        title="{{target.name}}">
                </marker>
                <shape name="polyline"
                       path="{{route.path}}"
                       geodesic="true"
                       stroke-color="#FF0000"
                       stroke-opacity="1.0"
                       stroke-weight="2">
                </shape>
                @*<directions draggable="true"
                                travel-mode="DRIVING"
                                waypoints="{{route.wayPoints}}"
                                origin="{{route.start}}"
                                destination="{{route.end}}">
                    </directions>*@
            </ng-map>
        </div>

    </div>
</div>

@section scripts {
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?libraries=places&key=" + System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleMapsApiKey"])
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/ng-map.min.js")
    @Scripts.Render("~/Scripts/app/targets-controller.js")
}